
<div class="row main">
    <div class="jobsPanel medium-4 large-4 columns">
        <h2 class="panelHeading">Jobs</h2>
        <a class="button" href="#" data-reveal-id="myModal">Track New Job</a>

<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
      <%= form_for @job, url: "/users/#{session[:user_id]}/jobs", :method => :post do |f| %>
           <%= f.label "Company Name:", nil, class: 'loginInputLabel' %>
          <%= f.text_field :company %>
          <%= f.label "Job Title:", nil, class: 'loginInputLabel' %>
          <%= f.text_field :title %>
          <%= f.label "URL:", nil, class: 'loginInputLabel' %>
          <%= f.text_field :url %>
          <%= f.hidden_field :user_id, value: session[:user_id] %>
          <%= f.submit "Add New Job", class: "formButton button tiny radius" %>
      <% end %>
     <a class="close-reveal-modal" aria-label="Close">&#215;</a>
   </div> <!-- end modal div -->

        <ul id="jobList">
            <% @jobs.each do |job| %> 
              <a href="/jobs/<%= job.id %>"><li class="jobListItem">Company: <%= job.company %> <br> Title: <%= job.title %></li></a>
            <% end %>
        </ul>
    </div>
    <div class="appPanel medium-4 large-4 columns">
        <h2 class="panelHeading">Application Info</h2>
        <%= form_for @job, url: {action: "update"} do |f| %>
        <%= f.label "url:" %>
        <%= f.text_field :url, value: @job.url %>
        <%= f.label "Date Applied:" %>
        <%= f.text_field :app_date, value: @job.app_date %>
        <%= f.label "Follow-Up:" %>
        <%= f.text_field :app_followup, value: @job.app_followup %>
        <%= f.label "Notes:" %>
        <%= f.text_field :app_notes, value: @job.app_notes %>
        <%= f.submit "Update Info", class: "formButton button tiny radius" %>
        <% end %>
        <%= button_to "Delete Job", "/jobs/#{params[:id]}", method: :delete, class: "deleteButton button tiny radius" %>
    </div>
    <div class="interviewPanel medium-4 large-4 columns">
        <h2 class="panelHeading">Interview Info</h2>
        <%= form_for @job, url: {action: "update"} do |f| %>
        <%= f.label "Interview Date:" %>
        <%= f.text_field :interview_date, value: @job.interview_date %>
        <%= f.label "Interviewer Name:" %>
        <%= f.text_field :interviewer_name, value: @job.interviewer_name %>
        <%= f.label "Interviewer Email:" %>
        <%= f.email_field :interviewer_email, value: @job.interviewer_email %>
        <%= f.label "Interview Follow-Up:" %>
        <%= f.text_field :interview_followup, value: @job.interview_followup %>
        <%= f.label "Notes:" %>
        <%= f.text_field :interview_notes, value: @job.interview_notes %>
        <%= f.submit "Update Info", class: "formButton button tiny radius" %>
        <% end %>
    </div>
    <div class="archivePanel">
        
    </div>
</div> <!-- end row div -->
